Lenguajes de marcas/UD06/Practica sus/expediciones.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="plataforma">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="investigadores">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="investigador" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre" type="xs:string"/>
                                        <xs:element name="pais" type="xs:string"/>
                                        <xs:element name="email" type="xs:string"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:ID" use="required"/>
                                    <xs:attribute name="especialidad" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="expediciones">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="expedicion" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titulo" type="xs:string"/>
                                        <xs:element name="ubicacion">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="pais" type="xs:string"/>
                                                    <xs:element name="coordenadas">
                                                        <xs:complexType>
                                                            <xs:attribute name="latitud" type="xs:decimal" use="required"/>
                                                            <xs:attribute name="longitud" type="xs:decimal" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="continente" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>

                                        <xs:element name="fechaInicio" type="xs:date"/>

                                        <xs:element name="duracion">
                                            <xs:complexType>
                                                <xs:attribute name="dias" type="xs:positiveInteger" use="required"/>
                                            </xs:complexType>
                                        </xs:element>

                                        <xs:element name="presupuesto">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:decimal">
                                                        <xs:attribute name="moneda" use="required">
                                                            <xs:simpleType>
                                                                <xs:restriction base="xs:string">
                                                                    <xs:enumeration value="EUR"/>
                                                                    <xs:enumeration value="USD"/>
                                                                    <xs:enumeration value="GBP"/>
                                                                </xs:restriction>
                                                            </xs:simpleType>
                                                        </xs:attribute>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>

                                        <xs:element name="equipo">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="miembro" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:attribute name="refInvestigador" type="xs:IDREF" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>

                                    </xs:sequence>

                                    <xs:attribute name="codigo" type="xs:ID" use="required"/>

                                    <xs:attribute name="estado" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="activa"/>
                                                <xs:enumeration value="finalizada"/>
                                                <xs:enumeration value="planificada"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>

                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
